workflows/260225 - Bible YTB - 01 - Métadonnées YTB.json
{
  "name": "260225 - Bible YTB - 01 - Métadonnées YTB",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apposCLG4EW04JnCl",
          "mode": "list",
          "cachedResultName": "Extraction Liens Vidéo YTB",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl"
        },
        "table": {
          "__rl": true,
          "value": "tblstbPiyLEljLB7m",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl/tblstbPiyLEljLB7m"
        },
        "filterByFormula": "AND(   {Titre Vidéo} = \"\",   {Lien URL} != \"\",   OR(     {Statut traitement} = \"\",     {Statut traitement} = \"A traiter\"   ) )",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -96,
        -64
      ],
      "id": "0a6069b5-c6c5-40eb-acdf-557fd262124b",
      "name": "Récupère URL",
      "credentials": {
        "airtableTokenApi": {
          "id": "7bAMR1vkpEZw80oL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails&id={{$json[\"ID Vidéo\"]}}&key=AIzaSyAL2VQYhyGYfcQ1ocetrvkEyNmI07n3ENA",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -64
      ],
      "id": "56a1cb3c-0ca4-4d9b-a890-ed795999b0e1",
      "name": "API n8n YTB",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "099452c4-f94d-4045-ad2a-7de0fa1fa043",
              "name": "Titre Vidéo",
              "value": "={{ $json.items[0].snippet.title }}",
              "type": "string"
            },
            {
              "id": "9a0dbf31-dca8-488d-9b71-20e019746e4d",
              "name": "Miniature",
              "value": "={{ $json.items[0].snippet.thumbnails.high.url }}",
              "type": "string"
            },
            {
              "id": "18b607e2-bc61-4146-8459-68c47aafa26b",
              "name": "Youtubeur",
              "value": "={{ $json.items[0].snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "693dec97-dc62-4cc6-a46e-745c9ae03fe4",
              "name": "Date de sortie",
              "value": "={{DateTime.fromISO($json.items[0].snippet.publishedAt).toFormat('dd/MM/yyyy')}}",
              "type": "string"
            },
            {
              "id": "10ec6f21-2be7-4900-b256-7df62e457977",
              "name": "Durée",
              "value": "={{\n  (() => {\n    const d = $json.items[0].contentDetails.duration;\n    const h = d.match(/(\\d+)H/)?.[1] || 0;\n    const m = d.match(/(\\d+)M/)?.[1] || 0;\n    const s = d.match(/(\\d+)S/)?.[1] || 0;\n    return h > 0 ? `${h}:${String(m).padStart(2,'0')}:${String(s).padStart(2,'0')}` : `${m}:${String(s).padStart(2,'0')}`;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "fa1a5903-1640-4155-a6fe-599cb0f3f3e2",
              "name": "Résumé YTB",
              "value": "={{ $json.items[0].snippet.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -128
      ],
      "id": "afeb320c-05e6-43b4-aec0-261cbcca4594",
      "name": "Formatage"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apposCLG4EW04JnCl",
          "mode": "list",
          "cachedResultName": "260225 - Bible YTB ",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl"
        },
        "table": {
          "__rl": true,
          "value": "tblstbPiyLEljLB7m",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl/tblstbPiyLEljLB7m"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$('Récupère URL').first().json.id}}",
            "Statut traitement": "Erreur ❌",
            "Error Détail": "={{$json.error.message}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lien URL",
              "displayName": "Lien URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tag Perso",
              "displayName": "Tag Perso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID Vidéo",
              "displayName": "ID Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Titre Vidéo",
              "displayName": "Titre Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Miniature",
              "displayName": "Miniature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtuber",
              "displayName": "Youtuber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Résumé Gemini",
              "displayName": "Résumé Gemini",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Statut traitement",
              "displayName": "Statut traitement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Traité ✅",
                  "value": " Traité ✅"
                },
                {
                  "name": "Erreur ❌",
                  "value": "Erreur ❌"
                },
                {
                  "name": "Ignoré ⚠️",
                  "value": "Ignoré ⚠️"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Détail",
              "displayName": "Error Détail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        208
      ],
      "id": "d63d887e-d391-4563-a6af-087de6a1e592",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "7bAMR1vkpEZw80oL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "649c3557-2cfe-4fb3-95a0-f6ec7085466e",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -64
      ],
      "id": "4705d3d4-947b-4892-bf8a-f42ab42e9760",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apposCLG4EW04JnCl",
          "mode": "list",
          "cachedResultName": "260225 - Bible YTB ",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl"
        },
        "table": {
          "__rl": true,
          "value": "tblstbPiyLEljLB7m",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl/tblstbPiyLEljLB7m"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtuber": "={{ $('Formatage').item.json.Youtubeur }}",
            "Titre Vidéo": "={{ $('Formatage').item.json['Titre Vidéo'] }}",
            "Miniature": "={{ [{\"url\": $('Formatage').item.json.Miniature}] }}",
            "Date": "={{ DateTime.fromFormat($('Formatage').item.json['Date de sortie'], 'dd/MM/yyyy').toISO() }}\n",
            "id": "={{$('Récupère URL').first().json.id}}",
            "Statut traitement": "En cours ⏳",
            "Durée": "={{ $json['Durée'] }}",
            "Résumé YTB": "={{ $json['Résumé YTB'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lien URL",
              "displayName": "Lien URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag Perso",
              "displayName": "Tag Perso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID Vidéo",
              "displayName": "ID Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Titre Vidéo",
              "displayName": "Titre Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Miniature",
              "displayName": "Miniature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Youtuber",
              "displayName": "Youtuber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Durée",
              "displayName": "Durée",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Résumé YTB",
              "displayName": "Résumé YTB",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Résumé Gemini",
              "displayName": "Résumé Gemini",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Statut traitement",
              "displayName": "Statut traitement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Traité ✅",
                  "value": " Traité ✅"
                },
                {
                  "name": "Erreur ❌",
                  "value": "Erreur ❌"
                },
                {
                  "name": "Ignoré ⚠️",
                  "value": "Ignoré ⚠️"
                },
                {
                  "name": "En cours ⏳",
                  "value": "En cours ⏳"
                },
                {
                  "name": "NoteBook LM !",
                  "value": "NoteBook LM !"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Détail",
              "displayName": "Error Détail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date/heure Dernière Modif",
              "displayName": "Date/heure Dernière Modif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        -128
      ],
      "id": "600bf50e-eabb-4f1d-b138-e290e6870312",
      "name": "Rempli Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7bAMR1vkpEZw80oL",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -64
      ],
      "id": "bd498b29-b00b-4bbc-81a9-e091e1b73795",
      "name": "Toutes les 2 min"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a71a66fb-ec2f-4c31-b420-680a6dae6359",
              "leftValue": "={{ $('Formatage').item.json['Résumé YTB'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -176
      ],
      "id": "39ee4523-a534-4e51-8bbf-f32b326c5bbb",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Formatage').item.json['Résumé YTB'] }}\n\nRÈGLE ABSOLUE N°1 : Ta réponse doit commencer UNIQUEMENT par le préfixe de catégorie (ex: 'OUTIL IA - ', 'WORKFLOW - ', etc.). Il est STRICTEMENT INTERDIT d'écrire 'TYPE DÉTECTÉ', '🎬', ou tout autre emoji ou introduction avant ce préfixe. Toute violation de cette règle est inacceptable.\n\nRÈGLE ABSOLUE N°2 : Va directement à l'analyse sans aucune phrase d'introduction comme 'Voici l'analyse...' ou 'Bien sûr...' ou toute autre introduction.\n\nTu es un expert en intelligence artificielle, technologie et automatisation. Analyse cette description de vidéo YouTube, identifie son type, puis fournis l'analyse détaillée correspondante en français.\n\nDESCRIPTION DE LA VIDÉO :\n{{ $('Formatage').item.json['Résumé YTB'] }}\n\nÉTAPE 1 — IDENTIFICATION DU TYPE\nDétecte le type principal parmi :\n- ACTUALITÉS IA\n- OUTIL IA\n- WORKFLOW / AUTOMATISATION\n- API / MCP\n- DÉMONSTRATION EN DIRECT\n- COMPARAISON D'OUTILS\n- COURS / FORMATION\n- CONSEILS / ASTUCES\n- SKILLS / COMPÉTENCES\n- TUTORIEL APPLE\n- INTERVIEW / PODCAST\n- YOUTUBE SHORT\n- AUTRE\n\nÉTAPE 2 — COMMENCE ta réponse OBLIGATOIREMENT par le préfixe correspondant au type détecté, suivi d'un tiret et d'un espace, puis enchaîne DIRECTEMENT avec l'analyse :\n\n- ACTUALITÉS IA → commence par : ACTUALITÉS IA - \n- OUTIL IA → commence par : OUTIL IA - \n- WORKFLOW / AUTOMATISATION → commence par : WORKFLOW - \n- API / MCP → commence par : API / MCP - \n- DÉMONSTRATION EN DIRECT → commence par : DÉMO EN DIRECT - \n- COMPARAISON D'OUTILS → commence par : COMPARAISON - \n- COURS / FORMATION → commence par : COURS/FORMATION - \n- CONSEILS / ASTUCES → commence par : CONSEILS/ASTUCES - \n- SKILLS / COMPÉTENCES → commence par : SKILLS/COMPÉTENCES - \n- TUTORIEL APPLE → commence par : APPLE TUTORIEL - \n- INTERVIEW / PODCAST → commence par : INTERVIEW/PODCAST - \n- YOUTUBE SHORT → commence par : SHORT - \n- AUTRE → commence par : AUTRE - \n\nÉTAPE 3 — ANALYSE SELON LE TYPE DÉTECTÉ\n\nACTUALITÉS IA\nFournis un compte rendu EXHAUSTIF de chaque actualité abordée dans la description. Pour chacune : contexte, informations clés, implications et détails importants. Ne laisse rien de côté.\n\nOUTIL IA (Claude, Gemini, ChatGPT, NotebookLM, Cursor, Mistral, n8n, etc.)\n1. Nom exact de l'outil et version si mentionnée\n2. Liste détaillée de toutes les nouvelles fonctionnalités mentionnées\n3. Améliorations par rapport aux versions précédentes si mentionnées\n4. Tous les cas d'usage décrits dans la description\n5. Limitations ou points négatifs évoqués\n\nWORKFLOW / AUTOMATISATION\nEN BREF : [Une phrase courte et percutante résumant l'objectif du workflow]\n\nAU PROGRAMME :\n[Liste à puces des étapes et fonctionnalités principales mentionnées dans la description]\n\nOUTILS UTILISÉS :\n[Pour chaque outil mentionné : nom, rôle dans le workflow, lien documentation officielle si présent dans la description]\n\nAPI / MCP\n1. Nom de l'API ou du MCP présenté\n2. À quoi il sert et quel problème il résout\n3. Démarches mentionnées pour le mettre en pratique\n4. Prérequis techniques mentionnés\n5. Liens et ressources présents dans la description\n\nDÉMONSTRATION EN DIRECT\n1. Objectif de la démonstration\n2. Étapes principales décrites dans la description\n3. Tous les liens URL mentionnés dans la description\n\nCOMPARAISON D'OUTILS\n1. Nom des outils comparés\n2. Critères de comparaison mentionnés\n3. Points forts et faibles de chaque outil si décrits\n4. Conclusion ou recommandation donnée dans la description\n\nCOURS / FORMATION\n1. Sujet principal du cours\n2. Liste des chapitres ou modules mentionnés avec leur contenu\n3. Liens URL présents dans la description pour chaque chapitre\n4. Prérequis et niveau requis si mentionnés\n\nCONSEILS / ASTUCES\nListe COMPLÈTE et DÉTAILLÉE de chaque conseil mentionné dans la description. Pour chacun :\n- Énoncé clair du conseil\n- Pourquoi ce conseil est important (si expliqué)\n- Détails pratiques pour le mettre en œuvre\nATTENTION : réponse détaillée et précise obligatoire, PAS de résumé succinct.\n\nSKILLS / COMPÉTENCES\n1. Liste numérotée de tous les skills présentés\n2. Pour chaque skill : description des capacités et cas d'usage concrets mentionnés\n\nTUTORIEL APPLE (iPhone / iPad / Apple Watch)\nPour chaque astuce mentionnée dans la description :\n- Nom de l'astuce\n- À quoi elle sert\n- Méthode d'activation si décrite\n\nINTERVIEW / PODCAST\n1. Nom et profil des intervenants si mentionnés\n2. Thèmes principaux abordés\n3. Idées clés décrites dans la description\n4. Résumé des enseignements\n\nYOUTUBE SHORT\nRésumé clair et complet en 3 à 5 phrases capturant l'essentiel du message de la description.\n\nAUTRE\nRésumé structuré et détaillé des points essentiels mentionnés dans la description."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1264,
        -192
      ],
      "id": "91cdd244-e763-433b-9581-d247938a70fd",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ls02Z8Nde97KvhOE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apposCLG4EW04JnCl",
          "mode": "list",
          "cachedResultName": "260225 - Bible YTB ",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl"
        },
        "table": {
          "__rl": true,
          "value": "tblstbPiyLEljLB7m",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apposCLG4EW04JnCl/tblstbPiyLEljLB7m"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Rempli Airtable1').item.json.id }}",
            "Résumé Gemini": "={{ $('Message a model').item.json.content.parts[0].text }}",
            "Statut traitement": " Traité ✅"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lien URL",
              "displayName": "Lien URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tag Perso",
              "displayName": "Tag Perso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID Vidéo",
              "displayName": "ID Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Titre Vidéo",
              "displayName": "Titre Vidéo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Miniature",
              "displayName": "Miniature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtuber",
              "displayName": "Youtuber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Durée",
              "displayName": "Durée",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Résumé YTB",
              "displayName": "Résumé YTB",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Résumé Gemini",
              "displayName": "Résumé Gemini",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Statut traitement",
              "displayName": "Statut traitement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Traité ✅",
                  "value": " Traité ✅"
                },
                {
                  "name": "Erreur ❌",
                  "value": "Erreur ❌"
                },
                {
                  "name": "Ignoré ⚠️",
                  "value": "Ignoré ⚠️"
                },
                {
                  "name": "En cours ⏳",
                  "value": "En cours ⏳"
                },
                {
                  "name": "NoteBook LM !",
                  "value": "NoteBook LM !"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Détail",
              "displayName": "Error Détail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date/heure Dernière Modif",
              "displayName": "Date/heure Dernière Modif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        -192
      ],
      "id": "5c4ba076-7c00-4f09-8892-b5dc6b7aeab7",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7bAMR1vkpEZw80oL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Récupère URL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API n8n YTB": {
      "main": [
        [
          {
            "node": "Formatage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage": {
      "main": [
        [
          {
            "node": "Rempli Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "API n8n YTB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rempli Airtable1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toutes les 2 min": {
      "main": [
        [
          {
            "node": "Récupère URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nfaZyQlX9VlLPK8O"
  },
  "versionId": "698d5d03-8c76-416d-bd5d-4a131b3ceabf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c67f7b64c6096e9566f97f75e13e3ac0d1b1615ef477d7e8ba5daa291279a648"
  },
  "id": "4iBURxhWUnq4970J",
  "tags": []
}
